<!-- app/views/tenant/companies/configuration.html.erb -->

<h1 class="text-2xl font-bold mb-4">Configuraci贸n de la Compa帽铆a</h1>

<%# === BUSINESS INFO === %>
<div class="card shadow rounded">
  <div class="card-header d-flex justify-content-between p-3">
    <h2>Informaci贸n Comercial</h2>
    <% if @entity.business_info.nil? %>
      <%= link_to "A帽adir informaci贸n de la empresa",
        new_entity_business_info_path(@entity),
        class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Editar", edit_entity_business_info_path(@entity.business_info),
        class: "btn btn-warning" %>
    <% end %>
  </div>
  
  <div class="card-body">
    <% if @entity.business_info.nil? %>
      <p class="text-gray-500 italic">No existe informaci贸n comercial registrada.</p>
    <% else %>
      <div class="mt-2 space-y-2">
        <p><strong>Nombre legal:</strong> <%= @entity.business_info.trade_name %></p>
        <p><strong>CIF/NIF:</strong> <%= @entity.business_info.registration_number %></p>
        <p><strong>Mail:</strong> <%= @entity.business_info.email %></p>
        <p><strong>Tel茅fono:</strong> <%= @entity.business_info.phone %></p>
      </div>
    <% end %>
  </div>
</div>

<%# ===  DIRECCIN DE TRABAJO === %>
<div class="card shadow rounded mt-4">
  <div class="card-header d-flex justify-content-between p-3">
    <h2>Direcci贸n</h2>
    <% if @entity.work_address? %>
      <%= link_to "Editar", edit_entity_address_path(@entity),
        class: "btn btn-warning" %>
    <% else %>
      <%= link_to "A帽adir Direcci贸n", new_entity_address_path(@entity),
        class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="card-body">
    <% if @entity.work_address? %>
      <% address = @entity.work_address %>
      <div class="mt-2 space-y-2">
        <p><strong>Direcci贸n:</strong> <%= address.street %></p>
        <p><strong>C贸digo postal:</strong> <%= address.postal_code %></p>
        <p><strong>Ciudad:</strong> <%= address.city %></p>
        <p><strong>Provincia:</strong> <%= address.province %></p>
        <p><strong>Pa铆s:</strong> <%= address.country.name %></p>
      </div>
    <% else %>
      <p class="text-gray-500 italic">No hay direcci贸n de trabajo registrada.</p>
    <% end %>
  </div>
</div>

<%# === BANK INFO === %>
<div class="card shadow rounded mt-4">
  <div class="card-header d-flex justify-content-between p-3">
    <h2>Informaci贸n Bancaria</h2>
    <%= link_to "A帽adir informaci贸n bancaria", new_entity_bank_infos_path(entity_id: @entity.id), class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <% if @entity.bank_infos.any? %>
      <%= render "bank_info_table" %>
    <% else %>
      <p class="text-gray-500 italic">No hay informaci贸n bancaria registrada.</p>
    <% end %>
  </div>
</div>