<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <span class= "navbar-text text-white">  
      <a class="navbar-brand" href="<%= saas_admin_dashboard_path %>">ERP SaaS</a>
      <% if saas_user_signed_in? %>
      | <%= current_saas_user.email %> | <%= current_saas_user.saas_role_name %>
      <% end %>
    </span>
    <% if saas_user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><%= link_to "Accounts", "#", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Usuarios del SaaS", saas_admin_users_path, class: "nav-link" %></li>
            <li class="nav-item">
              <%= button_to "Logout", destroy_saas_user_session_path, method: :delete, class: "btn btn-sm btn-danger" %>
            </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
