<%= form_with url: @account.new_record? ? saas_accounts_path : saas_account_path(@account),
              method: @account.new_record? ? :post : :patch,
              model: @account,
              local: true do |form| %>
  <div class="card shadow-sm">
    <div class="card-header">
      <h5><%= @account.new_record? ? "Nueva Account" : "Editar Account" %></h5>
    </div>

    <div class="card-body">

      <!-- DATOS BÃSICOS -->
      <h6 class="border-bottom pb-1">Datos del Tenant</h6>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", placeholder: @account.name if @account %>
        </div>

        <div class="col-md-4">
          <%= form.label :slug %>
          <%= form.text_field :slug, class: "form-control", placeholder: @account.slug if @account %>
        </div>

      <% if @account.new_record? %>
        <!-- DATOS COMPANY -->
        <h6 class="border-bottom pb-1">Datos de la Empresa</h6>

        <div class="row mb-3">
          <div class="col-md-4">
            <%= form.label :company_name %>
            <%= form.text_field :company_name, class: "form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label :company_slug %>
            <%= form.text_field :company_slug, class: "form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label :company_cif %>
            <%= form.text_field :company_cif, class: "form-control" %>
          </div>
        </div>
      

        <!-- OWNER -->
        <h6 class="border-bottom pb-1">Owner del Tenant</h6>
        <div class="row mb-3">
          <div class="col-md-6">
            <%= form.label :owner_email %>
            <%= form.email_field :owner_email, class: "form-control" %>
          </div>
        </div>

      <% end %>

      <!-- BASE DE DATOS -->
      <h6 class="border-bottom pb-1">Base de Datos del Tenant</h6>

      <%= form.fields_for :saas_tenant_database do |db| %>
        <div class="row mb-3">
          <div class="col-md-4">
            <%= db.label :database_name %>
            <%= db.text_field :database_name, 
                class: "form-control", 
                placeholder: @account.saas_tenant_database.database_name if @account  %>
          </div>

          <div class="col-md-4">
            <%= db.label :username %>
            <%= db.text_field :username, 
            class: "form-control",
            placeholder: @account.saas_tenant_database.username if @account  %>
          </div>

          <div class="col-md-4">
            <%= db.label :password %>
            <%= db.password_field :password, 
            class: "form-control",
            placeholder: @account.saas_tenant_database.password if @account  %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <%= db.label :host %>
            <%= db.text_field :host, class: "form-control",
            placeholder: @account.saas_tenant_database.host if @account  %>
          </div>

          <div class="col-md-2">
            <%= db.label :port %>
            <%= db.number_field :port, class: "form-control",
            placeholder: @account.saas_tenant_database.port if @account %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="card-footer text-end">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
