<%= form_with model: @business_info, url: entity_business_info_path, local: true do |f| %>

  <% if @business_info.errors.any? %>
    <div class="alert alert-danger">
      <h5>No se pudo guardar la información</h5>
      <ul>
        <% @business_info.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-4">
    <div class="card-header">
      <strong>Información del negocio</strong>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-6 mb-3">
          <%= f.label :business_name, "Razón social", class: "form-label" %>
          <%= f.text_field :business_name, class: "form-control" %>
        </div>

        <div class="col-md-6 mb-3">
          <%= f.label :trade_name, "Nombre comercial", class: "form-label" %>
          <%= f.text_field :trade_name, class: "form-control" %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :registration_number, "CIF", class: "form-label" %>
          <%= f.text_field :registration_number, class: "form-control" %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :tax_type_id, "Tipo de impuesto", class: "form-label" %>
          <%= f.collection_select :tax_type_id,
                MasterData::TaxType.all,
                :id, :name,
                { prompt: "Selecciona" },
                class: "form-select" %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :phone, "Teléfono", class: "form-label" %>
          <%= f.telephone_field :phone, class: "form-control" %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :email, "Email", class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :website, "Web", class: "form-label" %>
          <%= f.url_field :website, class: "form-control" %>
        </div>

      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-end gap-2">
    <%= link_to "Cancelar", company_configuration_path, class: "btn btn-outline-secondary" %>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>

<% end %>
