<%= form_with model: [:tenant, @entity, @business_info], class: "card card-body" do |f| %>

  <div class="mb-3">
    <%= f.label :business_name, "Nombre de la empresa" %>
    <%= f.text_field :business_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :trade_name, "Nombre comercial" %>
    <%= f.text_field :trade_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :registration_number, "CIF/NIF" %>
    <%= f.text_field :registration_number, class: "form-control" %>
  </div>

  <%= f.collection_select :tax_type_id,
            MasterData::Tax_Type.all, :id, :name,
            { prompt: "Selecciona un tipo de documento" },
            { class: "form-select" } %>

  <div class="mb-3">
    <%= f.label :phone, "Teléfono" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :website, "Website" %>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <hr>

  <h4>Dirección de la empresa</h4>

  <%= f.fields_for :address do |a| %>

    <div class="mb-3">
      <%= a.label :street, "Calle" %>
      <%= a.text_field :street, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= a.label :city, "Ciudad" %>
      <%= a.text_field :city, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= a.label :postal_code, "Código postal" %>
      <%= a.text_field :postal_code, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= a.label :country_id, "País" %>
      <%= a.collection_select :country_id,
            MasterData::Country.all, :id, :name,
            { prompt: "Selecciona país" },
            { class: "form-select" } %>
    </div>

  <% end %>

  <%= f.submit class: "btn btn-primary" %>

<% end %>
